table {
    margin: auto;
    text-align: center;
}
body {
    background-color: rgb(232, 244, 255);
}
h1 {
    background-color: rgb(164, 197, 243);
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 7px;
}
.nevigation-bar button{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 150px;
    height: 30px;
    background-color: rgba(71, 120, 252, 0.458);
}
.nevigation-bar {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding: 0px 350px;
}
button {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 150px;
    height: 30px;
    background-color: rgb(166, 203, 241);  
}
h2 {
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 7px;
}
p {
    font-size: large;
    text-align: left;
}