body{
    background-color: #9ae2ff;
    font-size: 14px;
    font-family: Palatino Linotype;
}
.container{
    width: 80%;
    margin: 50px auto;
    background-color: #9ae2ff;
}
.contact-box{
   background-color: rgb(255, 255, 255);
   display: flex;
}
.contact-left{
    flex-basis: 30%;
    padding: 30px;
    background-color: azure;
    color: black;
}
.contact-right{
    flex-basis: 60%;
    padding: 40px 60px;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
    font-size: large;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;
    font-size: large;
}
texrarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
}
label{
    margin-bottom: 6px;
    display: block;
    font-size: large;
    color: black;
}
button{
    background-color: aqua;
    width: 100px;
    border: none;
    outline: none;
    color: darkblue;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgb(187, 191, 192);
}
.contact-right h3{
    color: black;
}
table, th, td{
    width: 100%;
    height: 40%;
    padding: 10px;
    background-color: #75c2f8;
    border-color: solid 3px 0 black;
    border-collapse: collapse;
    text-align: center;
}
::placeholder{
    font-size: large;
}
