th, td {
    padding: 20px;
}
hr {
    border-color: black;
}
.table1, .table1 th, .table1 td {
    border: 2px solid black;
    border-collapse: collapse;
}
.table {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(166, 203, 241);
}
.table dd{
    font-size: large;
}