fieldset {
    width: 400px;
    text-align: center;
    margin: auto;
    background-color: rgb(139, 208, 234);
    padding: 30px 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 600px;
    height: 550px;
    background-color: rgba(71, 120, 252, 0.458);
}
legend {
    background-color: beige;
    font-size: 18px;
    text-align: center;
    padding: 7px 15px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
table, td {
    padding: 10px;
}